name: Release @avelino-samba/utils

on:
  push:
    tags:
      - "v*"
    paths:
      - "packages/utils/**"

env:
  NODE_VERSION: 18.x

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: yarn workspace @avelino-samba/utils install --frozen-lockfile

      - name: Build package
        run: yarn workspace @avelino-samba/utils build
      
      - name: Set tag name
        id: set_tag_name
        run: echo ::set-output name=tag_name::${GITHUB_REF/refs\/tags\//}
        env:
          GITHUB_REF: ${{ github.ref }}
          
      - name: Create package
        run: |
          cd packages/utils/dist
          yarn pack --filename ./avelino-samba-utils-${{ steps.set_tag_name.outputs.tag_name }}.tgz
      
      - name: Create temporary file
        id: create_temp_file
        run: |
          TEMP_FILE=$(mktemp)
          echo "::set-output name=temp_file::$TEMP_FILE"

      - name: Set changelog in temporary file
        run: |
          node packages/utils/scripts/generate-release.js ${{ steps.set_tag_name.outputs.tag_name }} > ${{ steps.create_temp_file.outputs.temp_file }}
          
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          tag_name: ${{ steps.set_tag_name.outputs.tag_name }}
          release_name: ${{ steps.set_tag_name.outputs.tag_name }}
          body_path: ${{ steps.create_temp_file.outputs.temp_file }}
          draft: true
          prerelease: true

      - name: Upload package to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./packages/utils/dist/avelino-samba-utils-${{ steps.set_tag_name.outputs.tag_name }}.tgz
          asset_name: avelino-samba-utils-${{ steps.set_tag_name.outputs.tag_name }}.tgz
          asset_content_type: application/gzip
